*{margin: 0;
padding: 0;
box-sizing: border-box;
color: white;
font-family: 'Noto Sans Devanagari', sans-serif;
}

header{
    background-image: url(pics/starting_pic.jpeg);
    text-transform: uppercase;
    height: 640px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

header a{
    position: absolute;
    top: 10px;
    left: 40px;
    color: white;
    text-decoration: none;
    z-index: 10;
}

header a:hover{
    color: #FF4655;
}

h1{
    font-size: 100px;
    line-height: 100px;
    position: relative;
    text-align: right;
    padding-right: 105px;
    top: 300px;   
    font-family: "Oswald", sans-serif;    
    letter-spacing: 3px;                                       
}

.starting_pic{
    height: 400px;
    position: relative;
    bottom: 0;
    right: 16px;
}

.character{
    height: 730px;
    top: -310px;
    left: 50px;
    position: relative;
}

/* leaderboard */

.leaderboard_container{
    background-color: #1f232c;
    justify-content: center;
    position: relative;
    top: -80px;
}

.table_header{
    background-color: #FF4655;
    margin: 80px auto;
    max-width: 1200px;
    width: 100%;
    border: 2px solid ;
}

.leaderboard_headers{
    padding: 90px 96px 8px;
}

.leaderboard{
    max-width: 1200px;
    height: auto;
    margin: 80px auto;
    border-radius: 16px;
    box-shadow: 2px 2px 16px 1px #aaa;
    background-color: #FF4655;
    font-family: sans-serif;
    text-align: center;
}

.radiant_logo{
    height: 40px;
}

.table{
    max-width: 1200px;
    width: 100%;
    margin: 80px auto;
    font-family: sans-serif;
    text-align: center;
    bottom: -70px;
    position: relative;
}

.table th{
    font-size: 25px;
}

.leaderboard_table{
    background-color: #aaa;
    width: 100%;
    border-collapse: collapse;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
}

tbody .nick{
    font-weight: bold;
    font-size: 14px;
}

tbody tr:nth-child(2n){
    background-color: #1f232c;
}

th{
    padding: 20px 0px 20px 0px;
    font-family: "Oswald", sans-serif;   
    letter-spacing: 1px;
    font-size: 18px;
}

td{
    padding: 14px 0px 14px 0px;
}

.leaderboard_table td:nth-child(1) {
    width: 230px;
}

/* Footer */

footer{
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1f232c;
    height: auto;
    position: relative;
    padding-top: 40px;
    width: 100%;
    color: #FF4655;
}

.footer_content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

footer img{
    width: 50px;
}

h3{
    font-size: 30px;
    font-weight: 500;
    line-height: 48px;
    font-weight: bold;
    color: #FF4655;
    font-family: 'VALORANT', sans-serif;
}

p{
    max-width: 600px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #FF4655;
}

.icon_container{
    list-style: none;
    display: flex;
    margin: 16px 0 45px 0;
}

.icon_container li{
    margin: 0 20px;
    font-size: 20px;
}

li a{
    text-decoration: none;
    color: #e6e3e3;
}

.footer_menu_container{
    margin-bottom: 20px;
}

.footer_menu_container ul{
    display: flex;
}

.footer_menu_container ul li{
    padding-right: 25px;
    padding-bottom: 30px;
    display: block;
}

.footer_menu_container ul li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border: 2px solid #FF4655;
    padding: 6px 15px;
    border-radius: 25px;
    box-shadow: 0 0 10px #FF4655;
}

.footer_menu_container a:hover{
    background: #FF4655;
}

.credit{
    background-color: #FF4655;
    width: 100%;
    padding: 2px;
    text-align: center;
    color: #1f232c;
    text-align: center;
}

.credit p{
    text-transform: capitalize;
    font-size: 14px;
    word-spacing: 4px;
    font-weight: bold;
    color: #1f232c;
}